<!-- Heading -->
<h3>
  Who we are
</h3>

<!-- Text -->
<p class="text-gray-800 mb-6 mb-md-8">
  We believe lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, malesuada tincidunt lectus. Proin nec tellus sit amet massa auctor imperdiet id vitae diam. Aenean gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt felis et lectus rhoncus laoreet.
</p>

<!-- Heading -->
<h3>
  What we’re looking for
</h3>

<!-- Text -->
<p class="text-gray-800 mb-5">
  Aenean gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt felis et lectus rhoncus laoreet.
</p>

<!-- Heading -->
<h3>
  <a href="{% url 'vassessment_terms_accepted' string_32 %}">Accept Terms and Continue 3389</a>
</h3>
